@keyframes bgmbtn{
    0%,40%,80%{
        transform: rotate(0deg)translateY(0);
    }
    20%,60%{
        transform: rotate(-15deg)translateY(-10px);
    }
}

@keyframes pageBtn{
    0%,100%{
        transform: rotate(-3deg);
    }
    50%{
        transform: rotate(3deg);
    }
}

@keyframes triangle{
    0%,100%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}