body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none;

    header{
        position: absolute;
        z-index: 9;
    
        .screenS{
            width: 100vw;
            pointer-events: none;
            filter: drop-shadow(0 7px 10px #351F0F);

            @include sm(){
                display: none;
            }

            & div{
                position: absolute;
                top: 6.8vw;
                width: 20vw;
                height: calc(20vw * 0.67);
                background: url(../img/img/header3.webp)no-repeat right / contain ;
            }

            & div:first-child{
                right: 0;
            }

            & div:last-child{
                left: 0;
                transform: scaleX(-1);
            }
        }

        .screen{
            position: absolute;
            top: 0;
            width: 100vw;
            height: 14vw;
            background: url(../img/img/header2.webp)no-repeat top center / cover ;
            pointer-events: none;

            @include sm(){
                height: 21.4vw;
                background-image: url(../img/img/header2M.webp);
            }
        }

        .page_btns{
            filter: drop-shadow(0 7px 10px #351F0F);
            cursor: pointer;

            @include sm(){
                display: none;
            }

            & div{
                position: absolute;
                background: url(../img/img/pageM.webp)no-repeat center / contain;
                transition: 1s;
                animation: pageBtn 5s infinite ease;

                &:hover{
                    animation-play-state: paused;
                    filter: drop-shadow(0 7px 10px #feffc6);
                }
            }

            .page_mox{
                top: 2.6vw;
                left: 180px;
                width: 86px;
                height: 377px;
                transform-origin: 50% 0%;

                @include xxxl(){
                    left: 170px;
                    width: calc(86px * 0.9);
                    height: calc(337px * 0.9);
                }

                @include xxl(){
                    left: 110px;
                    width: calc(86px * 0.8);
                    height: calc(337px * 0.8);
                }

                @include xl(){
                    left: 80px;
                    width: calc(86px * 0.7);
                    height: calc(337px * 0.7);
                }

                @include lg(){
                    width: calc(86px * 0.65);
                    height: calc(337px * 0.65);
                }

                @include md(){
                    left: 70px;
                    width: calc(86px * 0.5);
                    height: calc(337px * 0.5);
                }
            }
            .page_fish{
                top: -1vw;
                left: 325px;
                width: 54px;
                height: 344px;
                background-image: url(../img/img/pageF.webp);
                transform-origin: 35% 0%;

                @include xxxl(){
                    left: 300px;
                    width: calc(54px * 0.9);
                    height: calc(344px * 0.9);
                }

                @include xxl(){
                    left: 260px;
                    width: calc(54px * 0.8);
                    height: calc(344px * 0.8);
                }

                @include xl(){
                    left: 210px;
                    width: calc(54px * 0.7);
                    height: calc(344px * 0.7);
                }

                @include lg(){
                    left: 200px;
                    width: calc(54px * 0.65);
                    height: calc(344px * 0.65);
                }

                @include md(){
                    left: 160px;
                    width: calc(54px * 0.5);
                    height: calc(344px * 0.5);
                }
            }
            .page_ceresa{
                top: -1vw;
                right: 300px;
                width: 74px;
                height: 346px;
                background-image: url(../img/img/pageC.webp);
                transform-origin: 50% 0%;

                @include xxxl(){
                    right:  280px;
                    width: calc(74px * 0.9);
                    height: calc(346px * 0.9);
                }

                @include xxl(){
                    right: 240px;
                    width: calc(74px * 0.8);
                    height: calc(346px * 0.8);
                }

                @include xl(){
                    right: 190px;
                    width: calc(74px * 0.7);
                    height: calc(346px * 0.7);
                }

                @include lg(){
                    right: 180px;
                    width: calc(74px * 0.65);
                    height: calc(346px * 0.65);
                }

                @include md(){
                    right: 150px;
                    width: calc(74px * 0.5);
                    height: calc(346px * 0.5);
                }
                
            }
            .page_fox{
                top: 3vw;
                right: 135px;
                width: 89px;
                height: 364px;
                background-image: url(../img/img/pageH.webp);
                transform-origin: 66% 0%;

                @include xxxl(){
                    right: 120px;
                    width: calc(89px * 0.9);
                    height: calc(364px * 0.9);
                }

                @include xxl(){
                    right: 100px;
                    width: calc(89px * 0.8);
                    height: calc(364px * 0.8);
                }

                @include xl(){
                    right: 80px;
                    width: calc(89px * 0.7);
                    height: calc(364px * 0.7);
                }

                @include lg(){
                    width: calc(89px * 0.65);
                    height: calc(364px * 0.65);
                }

                @include md(){
                    right: 65px;
                    width: calc(89px * 0.5);
                    height: calc(364px * 0.5);
                }
            }
        }
        
        .wood{
            position: absolute;
            top: 0;
            width: 100vw;
            height: 18vw;
            background: url(../img/img/header.webp)no-repeat top center / cover ;
            filter: drop-shadow(0 7px 10px #351F0F);
            pointer-events: none;
            transition: 0.5s;

            @include sm(){
                height: 28.21vw;
                background-image: url(../img/img/woodM.webp);
                filter: none;
            }
        }

        .BGMbtn{
            position: absolute;
            top: 20px;
            left: 20px;
            width: 40px;
            height: 40px;
            background: url(../img/img/bgmOff.webp)no-repeat center / contain;
            cursor: pointer;
            animation: bgmbtn 1s infinite;
            z-index: 9;

            @include xl(){
                width: 30px;
                height: 30px;
            }

            @include xs(){
                top: 15px;
                left: 15px;
                width: 25px;
                height: 25px;
            }

            @include xs(){
                top: 10px;
                left: 10px;
            }
        }

        .logo{
            position: absolute;
            top: -5vw;
            left: 50vw;
            transform: translateX(-50%);
            width: 50vw;
            height: calc(50vw * 0.75);
            filter: drop-shadow(0 7px 10px #351F0F)drop-shadow(0 0px 40px #ffffff);
            transition: 1s;

            @include sm(){
                width: 90vw;
                height: 60vh;
                top: 45vh;
                transform: translateX(-50%)translateY(-100%);
                filter: drop-shadow(0 7px 10px #351F0F)drop-shadow(0 0px 40px #ffffff8c);
            }

            .logoImg{
                width: 100%;
                height: 100%;
                background: url(../img/img/logo.webp)no-repeat top center / contain;

                @include sm(){
                    background: url(../img/img/logoM.webp)no-repeat bottom center / cover;
                }
            }

            .pv{
                position: absolute;
                bottom: 25%;
                right: 10%;
                width: 2.6vw;
                height: 2.6vw;
                background: url(../img/img/play.webp)no-repeat center / contain;
                filter: drop-shadow(0 7px 10px #351F0F);
                cursor: pointer;
                transition: 0.3s;

                @include xxxl(){
                    width: 3vw;
                    height: 3vw;
                }

                @include xxl(){
                    width: 3.5vw;
                    height: 3.5vw;
                }

                @include sm(){
                    display: none;
                }

                & a{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }

                &:hover{
                    transform: scale(1.2);
                }
            }
        }
    }
    
    
    .wrap{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    
        .page_BG{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%)translateY(-50%);
            width: calc(100vw + 20px);
            height: calc(100vh + 20px);
            background: url(../img/img/BGindex.webp)no-repeat center / cover;

            & div{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                mix-blend-mode: multiply;
            }

            .BG_mask{
                background-color: #ddcdb6;
            }

            .BG_mask2{
                background: radial-gradient(ellipse, #fff 10%, #000000);
            }

        }

        .character{
            position: absolute;
            pointer-events: none;
            bottom: 0px;
            left: 10vw;
            width: 40vw;
            height: 80%;
            filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.3));

            @include sm(){
                width: 120vw;
                height: 90%;
                left: unset;
                right: 20px;
            }

            .c1,.c2,.c3,.c4{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform-origin: 50% 100%;
                transform: perspective(500px)rotateX(90deg);
                transition: 0.5s;
                background: url(../img/img/mox.webp)no-repeat top right / cover;
            }

            .c2{
                background-image: url();
            }

            .c3{
                background-image: url();
            }

            .c4{
                background-image: url();
            }
        }

        .bottomshadow{
            position: absolute;
            width: 100%;
            height: 40%;
            bottom: 0px;
            background: linear-gradient(to top , rgba(0, 0, 0, 0.8) 40%,rgba(0, 0, 0, 0));
        }

        .p0_text{
            position: absolute;
            width: 100%;
            height: 20%;
            bottom: 3vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;

            @include sm(){
                bottom: 25vw;
            }

            & p{
                width: 50%;
                text-align: center;
                font-size: 20px;
                font-weight: 900;
                font-family: "Noto Serif SC", serif;
                color: #FFCA9D;
                letter-spacing: 3px;
                cursor: pointer;

                @include xxxl(){
                    font-size: 18px;
                }

                @include xl(){
                    font-size: 15px;
                }

                @include sm(){
                    width: 80%;
                }

                @include xxs(){
                    font-size: 13px;
                }

                &::after{
                    position: relative;
                    content: '▼';
                    right: 20px;
                    width: 20px;
                    height: 20px;
                    animation: triangle 1s infinite ease; 
                }
            }

            .line{
                width: 100%;
                height: 20%;
                background: url(../img/img/line.webp)no-repeat center / contain;

                @include sm(){
                    width: 60%;
                }
            }
        }

        .personal{
            position: absolute;
            right: 10.4vw;
            bottom: 7vh;
            display: none;
            flex-direction: column;
            align-items: end;

            @include sm(){
                right: 50%;
                transform: translateX(50%);
                bottom: 25vw;
                width: 80vw;
                align-items: flex-start;
            }

            @include xs(){
                width: 90vw;
            }

            .name{
                display: flex;
                height: 6vw;
                align-items: end;
                filter: drop-shadow(0 7px 10px #351F0F);

                @include sm(){
                    flex-direction: row-reverse;
                    height: 10vw;
                }
                
                @include xs(){
                    height: 15vw;
                }
    
                .sound{
                    width: 50px;
                    height: 50px;
                    margin-right: 10px;
                    margin-bottom: 10px;
                    background: url(../img/img/sound.webp)no-repeat center / contain;
                    cursor: pointer;
                    transition: 0.3s;

                    @include xxxl(){
                        width: 45px;
                        height: 45px;
                    }
                    
                    @include xxl(){
                        width: 40px;
                        height: 40px;
                    }
                    
                    @include xl(){
                        width: 30px;
                        height: 30px;
                    }

                    @include sm(){
                        width: 6vw;
                        height: 6vw;
                        margin-right: 0px;
                        margin-left: 10px;
                    }
    
                    &:hover{
                        transform: scale(1.2);
                    }
                }
                .role{
                    width: calc(6vw * 2.46);
                    height: 100%;
                    background: url(../img/img/name_Mox.webp)no-repeat center / contain;
                }
            }

            .slogan{
                padding: 0;
                margin: 0;
                text-align: right;
                font-size: 35px;
                font-style: italic;
                font-weight: 900;
                font-family: "Noto Serif SC", serif;
                color: #FFCA9D;

                @include xxxl(){
                    font-size: 33px;
                }

                @include xl(){
                    font-size: 28px;
                }

                @include sm(){
                    font-size: 25px;
                    text-align: left;
                }

                @include xs(){
                    font-size: 21px;
                }

                @include xxs(){
                    font-size: 19px;
                }

                @include xxxs(){
                    font-size: 18px;
                }

            }

            .personal_info{
                padding: 0;
                margin: 0;
                width: 600px;
                text-align: right;
                font-size: 20px;
                font-weight: 700;
                font-family: "Noto Serif SC", serif;
                color: #FFCA9D;
                cursor: pointer;
                word-wrap: break-word;
                
                @include xxxl(){
                    font-size: 18px;
                }

                @include xl(){
                    font-size: 15px;
                }

                @include sm(){
                    width: 100%;
                    text-align: left;
                }

                @include xxs(){
                    font-size: 13px;
                }

                &::after{
                    position: relative;
                    content: '▼';
                    right: 0px;
                    width: 20px;
                    height: 20px;
                    animation: triangle 1s infinite ease; 
                }
            }
        }
    
        .buttons{
            position: absolute;
            bottom: 23vh;
            left: 200px;
            display: flex;
            justify-content: center;
            filter: drop-shadow(0 7px 10px #351F0F);

            @include xxxl(){
                left: 150px;
            }

            @include xxl(){
                left: 120px;
            }

            @include sm(){
                bottom: 50vh;
                left: 50%;
                transform: translateX(-50%)translateY(150%);
            }
    
            div{
                width: 100px;
                height: 100px;
                margin: 0 2px;
                cursor: pointer;
                transition: 0.2s;
                
                @include xxxl(){
                    width: 80px;
                    height: 80px;
                }

                @include xl(){
                    width: 70px;
                    height: 70px;
                }

                @include sm(){
                    width: 60px;
                    height: 60px;
                }
    
                & a{
                    position: absolute;
                    width: 100px;
                    height: 100%;

                    @include xxxl(){
                        width: 80px;
                    }

                    @include xl(){
                        width: 70px;
                    }
                }
    
                &:hover{
                    transform: translateY(-5%);
                }
            }
    
            .YT{
                background: url(../img/img/YT.webp)no-repeat center / contain;
    
                &:hover{
                    background-image: url(../img/img/YT_h.webp);
                }
            }
    
            .twitter{
                background: url(../img/img/X.webp)no-repeat center / contain;
    
                &:hover{
                    background-image: url(../img/img/X_h.webp);
                }
            }
    
            .TW{
                background: url(../img/img/TW.webp)no-repeat center / contain;
                display: none;
    
                &:hover{
                    background-image: url(../img/img/TW_h.webp);
                }
            }
    
            .DC{
                background: url(../img/img/DC.webp)no-repeat center / contain;
                display: none;
    
                &:hover{
                    background-image: url(../img/img/DC_h.webp);
                }
            }
        }

        .lock{
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.7);
            display: none;

            &::after{
                position: absolute;
                content: '';
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                width: 10vw;
                height: 100%;
                background: url(../img/img/lock.webp)no-repeat center / contain;

                @include xxxl(){
                    width: 13vw;
                }

                @include md(){
                    width: 18vw;
                }

                @include sm(){
                    width: 30vw;
                }
            }
        }

        .p_btns_m{
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 25vw;
            background: url(../img/img/menuM.webp)no-repeat center bottom / contain;
            display: none;
            justify-content: space-evenly;
            align-items: end;
            z-index: 9;

            @include sm(){
                display: flex;
            }

            & div{
                margin-bottom: 6%;
                width: 15%;
                height: 15vw;
                background: url(../img/img/pM_M.webp)no-repeat center / contain;
                filter: drop-shadow(0 7px 10px #351F0F);
            }

            .page_fish_m{
                margin-bottom: 3%;
                background-image: url(../img/img/pF_m.webp);
            }

            .page_index_m{
                width: 28%;
                margin-bottom: 0px;
                background: url(../img/img/index_m.webp)no-repeat center top / cover;
            }

            .page_ceresa_m{
                margin-bottom: 3%;
                background-image: url(../img/img/pC_m.webp);
            }

            .page_fox_m{
                margin-bottom: 6%;
                background-image: url(../img/img/pFox_m.webp);
            }

        }
    
    }
    
    .transform{
        position: absolute;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        filter: drop-shadow(0 7px 10px #351F0F);
        z-index: 8;
        pointer-events: none;
    
        & div{
            position: absolute;
            width: 15%;
            height: 100%;
            background: url(../img/img/screen.webp)no-repeat left / cover;
            transition: 0.8s;
        }

        .screenL{
            left: 0;
            transform: translateX(-50%);

            @include sm(){
                transform: none;
                width: 0%;
            }
        }
    
        .screenR{
            right: 0;
            transform: translateX(50%);

            @include sm(){
                display: none;
            }
        }
    }

    .pop{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(28, 23, 15, 0.7);
        z-index: 99;
        display: none;

        @include md(){
            background-color: rgba(28, 23, 15, 0.9);
        }

        .pop_frame{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%)translateY(-50%);
            width: 50%;
            height: 60%;
            background-color: rgba(0, 0, 0, 0.7);
            border: #FFCA9D 2px solid;
            border-radius: 20px;
            padding: 40px 60px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include xxl(){
                width: 70%;
                height: 70%;
            }

            @include md(){
                border: none;
                background: none;
                width: 80%;
                height: 80%;
                padding: 40px 0px;
            }

            @include sm(){
                width: 90%;
                height: 90%;
            }
            

            .corner{
                pointer-events: none;

                @include md(){
                    display: none;
                }

                & div{
                    position: absolute;
                    width: 70px;
                    height: 70px;
                    background: url(../img/img/pop_corner.webp)no-repeat center / contain;

                    @include xl(){
                        width: 60px;
                        height: 60px;
                    }
                }
                
                & div:nth-child(1){
                    top: -30px;
                    left: -30px;
                    transform: scaleX(-1);
                }

                & div:nth-child(2){
                    top: -30px;
                    right: -30px;
                }
                
                & div:nth-child(3){
                    bottom: -30px;
                    left: -30px;
                    transform: scale(-1);
                }

                & div:nth-child(4){
                    bottom: -30px;
                    right: -30px;
                    transform: scaleY(-1);
                }
            }
            .pop_title{
                width: 100%;
                text-align: center;
                font-size: 40px;
                font-weight: 900;
                font-family: "Noto Serif SC", serif;
                color: #FFCA9D;
                letter-spacing: 3px;
                margin: 0px;

                @include xxxl(){
                    font-size: 35px;
                }

                @include xl(){
                    font-size: 30px;
                }
            }

            .pop_line{
                margin: 20px 0;
                width: 100%;
                min-height: 12px;
                background: url(../img/img/popLine.webp)no-repeat center / contain;
            }

            .pop_text{
                width: 100%;
                text-align: left;
                font-size: 20px;
                font-weight: 900;
                font-family: "Noto Serif SC", serif;
                color: #FFCA9D;
                letter-spacing: 3px;
                margin: 0px;
                padding: 10px;
                box-sizing: border-box;
                overflow-y: scroll;
                mask:linear-gradient(to top,rgba(255,255,255,0) 0%,#fff 5%, rgba(255,255,255,1) 95%, rgba(255,255,255,0) 100%);

                @include xxxl(){
                    font-size: 18px;
                }

                @include xl(){
                    font-size: 15px;
                }

                &::-webkit-scrollbar {
                    width: 5px;
                }
                
                &::-webkit-scrollbar-button {
                    background: transparent;
                }
                
                &::-webkit-scrollbar-track-piece {
                    background: transparent;
                }
                
                &::-webkit-scrollbar-thumb {
                    border-radius: 4px;
                    background-color: #FFCA9D;
                }
                
                &::-webkit-scrollbar-track {
                    box-shadow: transparent;
                }
                
            }

        }

        .xx{
            position: absolute;
            right: 15px;
            top: 15px;
            width: 40px;
            height: 40px;
            transform: rotate(45deg);
            cursor: pointer;
            transition: 0.3s;

            &::before,&::after{
                position: absolute;
                content: '';
                top: 50%;
                left: 50%;
                transform: translateX(-50%)translateY(-50%);
                width: 3px;
                height: 100%;
                background-color: #FFCA9D;
            }

            &::after{
                width: 100%;
                height: 3px;
            }

            &:hover{
                transform: rotate(-45deg);
            }

        }

    }

}