@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200..900&display=swap");
@keyframes bgmbtn {
  0%, 40%, 80% {
    transform: rotate(0deg) translateY(0);
  }
  20%, 60% {
    transform: rotate(-15deg) translateY(-10px);
  }
}
@keyframes pageBtn {
  0%, 100% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
}
@keyframes triangle {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
body header {
  position: absolute;
  z-index: 9;
}
body header .screenS {
  width: 100vw;
  pointer-events: none;
  filter: drop-shadow(0 7px 10px #351F0F);
}
@media all and (max-width: 768px) {
  body header .screenS {
    display: none;
  }
}
body header .screenS div {
  position: absolute;
  top: 6.8vw;
  width: 20vw;
  height: 13.4vw;
  background: url(../img/img/header3.webp) no-repeat right/contain;
}
body header .screenS div:first-child {
  right: 0;
}
body header .screenS div:last-child {
  left: 0;
  transform: scaleX(-1);
}
body header .screen {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 14vw;
  background: url(../img/img/header2.webp) no-repeat top center/cover;
  pointer-events: none;
}
@media all and (max-width: 768px) {
  body header .screen {
    height: 21.4vw;
    background-image: url(../img/img/header2M.webp);
  }
}
body header .page_btns {
  filter: drop-shadow(0 7px 10px #351F0F);
  cursor: pointer;
}
@media all and (max-width: 768px) {
  body header .page_btns {
    display: none;
  }
}
body header .page_btns div {
  position: absolute;
  background: url(../img/img/pageM.webp) no-repeat center/contain;
  transition: 1s;
  animation: pageBtn 5s infinite ease;
}
body header .page_btns div:hover {
  animation-play-state: paused;
  filter: drop-shadow(0 7px 10px #feffc6);
}
body header .page_btns .page_mox {
  top: 2.6vw;
  left: 180px;
  width: 86px;
  height: 377px;
  transform-origin: 50% 0%;
}
@media all and (max-width: 1600px) {
  body header .page_btns .page_mox {
    left: 170px;
    width: 77.4px;
    height: 303.3px;
  }
}
@media all and (max-width: 1440px) {
  body header .page_btns .page_mox {
    left: 110px;
    width: 68.8px;
    height: 269.6px;
  }
}
@media all and (max-width: 1240px) {
  body header .page_btns .page_mox {
    left: 80px;
    width: 60.2px;
    height: 235.9px;
  }
}
@media all and (max-width: 1024px) {
  body header .page_btns .page_mox {
    width: 55.9px;
    height: 219.05px;
  }
}
@media all and (max-width: 960px) {
  body header .page_btns .page_mox {
    left: 70px;
    width: 43px;
    height: 168.5px;
  }
}
body header .page_btns .page_fish {
  top: -1vw;
  left: 325px;
  width: 54px;
  height: 344px;
  background-image: url(../img/img/pageF.webp);
  transform-origin: 35% 0%;
}
@media all and (max-width: 1600px) {
  body header .page_btns .page_fish {
    left: 300px;
    width: 48.6px;
    height: 309.6px;
  }
}
@media all and (max-width: 1440px) {
  body header .page_btns .page_fish {
    left: 260px;
    width: 43.2px;
    height: 275.2px;
  }
}
@media all and (max-width: 1240px) {
  body header .page_btns .page_fish {
    left: 210px;
    width: 37.8px;
    height: 240.8px;
  }
}
@media all and (max-width: 1024px) {
  body header .page_btns .page_fish {
    left: 200px;
    width: 35.1px;
    height: 223.6px;
  }
}
@media all and (max-width: 960px) {
  body header .page_btns .page_fish {
    left: 160px;
    width: 27px;
    height: 172px;
  }
}
body header .page_btns .page_ceresa {
  top: -1vw;
  right: 300px;
  width: 74px;
  height: 346px;
  background-image: url(../img/img/pageC.webp);
  transform-origin: 50% 0%;
}
@media all and (max-width: 1600px) {
  body header .page_btns .page_ceresa {
    right: 280px;
    width: 66.6px;
    height: 311.4px;
  }
}
@media all and (max-width: 1440px) {
  body header .page_btns .page_ceresa {
    right: 240px;
    width: 59.2px;
    height: 276.8px;
  }
}
@media all and (max-width: 1240px) {
  body header .page_btns .page_ceresa {
    right: 190px;
    width: 51.8px;
    height: 242.2px;
  }
}
@media all and (max-width: 1024px) {
  body header .page_btns .page_ceresa {
    right: 180px;
    width: 48.1px;
    height: 224.9px;
  }
}
@media all and (max-width: 960px) {
  body header .page_btns .page_ceresa {
    right: 150px;
    width: 37px;
    height: 173px;
  }
}
body header .page_btns .page_fox {
  top: 3vw;
  right: 135px;
  width: 89px;
  height: 364px;
  background-image: url(../img/img/pageH.webp);
  transform-origin: 66% 0%;
}
@media all and (max-width: 1600px) {
  body header .page_btns .page_fox {
    right: 120px;
    width: 80.1px;
    height: 327.6px;
  }
}
@media all and (max-width: 1440px) {
  body header .page_btns .page_fox {
    right: 100px;
    width: 71.2px;
    height: 291.2px;
  }
}
@media all and (max-width: 1240px) {
  body header .page_btns .page_fox {
    right: 80px;
    width: 62.3px;
    height: 254.8px;
  }
}
@media all and (max-width: 1024px) {
  body header .page_btns .page_fox {
    width: 57.85px;
    height: 236.6px;
  }
}
@media all and (max-width: 960px) {
  body header .page_btns .page_fox {
    right: 65px;
    width: 44.5px;
    height: 182px;
  }
}
body header .wood {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 18vw;
  background: url(../img/img/header.webp) no-repeat top center/cover;
  filter: drop-shadow(0 7px 10px #351F0F);
  pointer-events: none;
  transition: 0.5s;
}
@media all and (max-width: 768px) {
  body header .wood {
    height: 28.21vw;
    background-image: url(../img/img/woodM.webp);
    filter: none;
  }
}
body header .BGMbtn {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  background: url(../img/img/bgmOff.webp) no-repeat center/contain;
  cursor: pointer;
  animation: bgmbtn 1s infinite;
  z-index: 9;
}
@media all and (max-width: 1240px) {
  body header .BGMbtn {
    width: 30px;
    height: 30px;
  }
}
@media all and (max-width: 576px) {
  body header .BGMbtn {
    top: 15px;
    left: 15px;
    width: 25px;
    height: 25px;
  }
}
@media all and (max-width: 576px) {
  body header .BGMbtn {
    top: 10px;
    left: 10px;
  }
}
body header .logo {
  position: absolute;
  top: -5vw;
  left: 50vw;
  transform: translateX(-50%);
  width: 50vw;
  height: 37.5vw;
  filter: drop-shadow(0 7px 10px #351F0F) drop-shadow(0 0px 40px #ffffff);
  transition: 1s;
}
@media all and (max-width: 768px) {
  body header .logo {
    width: 90vw;
    height: 60vh;
    top: 45vh;
    transform: translateX(-50%) translateY(-100%);
    filter: drop-shadow(0 7px 10px #351F0F) drop-shadow(0 0px 40px rgba(255, 255, 255, 0.5490196078));
  }
}
body header .logo .logoImg {
  width: 100%;
  height: 100%;
  background: url(../img/img/logo.webp) no-repeat top center/contain;
}
@media all and (max-width: 768px) {
  body header .logo .logoImg {
    background: url(../img/img/logoM.webp) no-repeat bottom center/cover;
  }
}
body header .logo .pv {
  position: absolute;
  bottom: 25%;
  right: 10%;
  width: 2.6vw;
  height: 2.6vw;
  background: url(../img/img/play.webp) no-repeat center/contain;
  filter: drop-shadow(0 7px 10px #351F0F);
  cursor: pointer;
  transition: 0.3s;
}
@media all and (max-width: 1600px) {
  body header .logo .pv {
    width: 3vw;
    height: 3vw;
  }
}
@media all and (max-width: 1440px) {
  body header .logo .pv {
    width: 3.5vw;
    height: 3.5vw;
  }
}
@media all and (max-width: 768px) {
  body header .logo .pv {
    display: none;
  }
}
body header .logo .pv a {
  position: absolute;
  width: 100%;
  height: 100%;
}
body header .logo .pv:hover {
  transform: scale(1.2);
}
body .wrap {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body .wrap .page_BG {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: calc(100vw + 20px);
  height: calc(100vh + 20px);
  background: url(../img/img/BGindex.webp) no-repeat center/cover;
}
body .wrap .page_BG div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
}
body .wrap .page_BG .BG_mask {
  background-color: #ddcdb6;
}
body .wrap .page_BG .BG_mask2 {
  background: radial-gradient(ellipse, #fff 10%, #000000);
}
body .wrap .character {
  position: absolute;
  pointer-events: none;
  bottom: 0px;
  left: 10vw;
  width: 40vw;
  height: 80%;
  background: url(../img/img/mox.webp) no-repeat top right/cover;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.3));
  display: none;
}
@media all and (max-width: 768px) {
  body .wrap .character {
    width: 120vw;
    height: 90%;
    left: unset;
    right: 20px;
  }
}
body .wrap .bottomshadow {
  position: absolute;
  width: 100%;
  height: 40%;
  bottom: 0px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 40%, rgba(0, 0, 0, 0));
}
body .wrap .p0_text {
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
@media all and (max-width: 768px) {
  body .wrap .p0_text {
    bottom: 25vw;
  }
}
body .wrap .p0_text p {
  width: 50%;
  text-align: center;
  font-size: 20px;
  font-weight: 900;
  font-family: "Noto Serif SC", serif;
  color: #FFCA9D;
  letter-spacing: 3px;
  cursor: pointer;
}
@media all and (max-width: 1600px) {
  body .wrap .p0_text p {
    font-size: 18px;
  }
}
@media all and (max-width: 1240px) {
  body .wrap .p0_text p {
    font-size: 15px;
  }
}
@media all and (max-width: 768px) {
  body .wrap .p0_text p {
    width: 80%;
  }
}
@media all and (max-width: 420px) {
  body .wrap .p0_text p {
    font-size: 13px;
  }
}
body .wrap .p0_text p::after {
  position: relative;
  content: "▼";
  right: 20px;
  width: 20px;
  height: 20px;
  animation: triangle 1s infinite ease;
}
body .wrap .p0_text .line {
  width: 100%;
  height: 20%;
  background: url(../img/img/line.webp) no-repeat center/contain;
}
@media all and (max-width: 768px) {
  body .wrap .p0_text .line {
    width: 60%;
  }
}
body .wrap .personal {
  position: absolute;
  right: 10.4vw;
  bottom: 7vh;
  display: none;
  flex-direction: column;
  align-items: end;
}
@media all and (max-width: 768px) {
  body .wrap .personal {
    right: 50%;
    transform: translateX(50%);
    bottom: 25vw;
    width: 80vw;
    align-items: flex-start;
  }
}
@media all and (max-width: 576px) {
  body .wrap .personal {
    width: 90vw;
  }
}
body .wrap .personal .name {
  display: flex;
  height: 6vw;
  align-items: end;
  filter: drop-shadow(0 7px 10px #351F0F);
}
@media all and (max-width: 768px) {
  body .wrap .personal .name {
    flex-direction: row-reverse;
    height: 10vw;
  }
}
@media all and (max-width: 576px) {
  body .wrap .personal .name {
    height: 15vw;
  }
}
body .wrap .personal .name .sound {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-bottom: 10px;
  background: url(../img/img/sound.webp) no-repeat center/contain;
  cursor: pointer;
  transition: 0.3s;
}
@media all and (max-width: 1600px) {
  body .wrap .personal .name .sound {
    width: 45px;
    height: 45px;
  }
}
@media all and (max-width: 1440px) {
  body .wrap .personal .name .sound {
    width: 40px;
    height: 40px;
  }
}
@media all and (max-width: 1240px) {
  body .wrap .personal .name .sound {
    width: 30px;
    height: 30px;
  }
}
@media all and (max-width: 768px) {
  body .wrap .personal .name .sound {
    width: 6vw;
    height: 6vw;
    margin-right: 0px;
    margin-left: 10px;
  }
}
body .wrap .personal .name .sound:hover {
  transform: scale(1.2);
}
body .wrap .personal .name .role {
  width: 14.76vw;
  height: 100%;
  background: url(../img/img/name_Mox.webp) no-repeat center/contain;
}
body .wrap .personal .slogan {
  padding: 0;
  margin: 0;
  text-align: right;
  font-size: 35px;
  font-style: italic;
  font-weight: 900;
  font-family: "Noto Serif SC", serif;
  color: #FFCA9D;
}
@media all and (max-width: 1600px) {
  body .wrap .personal .slogan {
    font-size: 33px;
  }
}
@media all and (max-width: 1240px) {
  body .wrap .personal .slogan {
    font-size: 28px;
  }
}
@media all and (max-width: 768px) {
  body .wrap .personal .slogan {
    font-size: 25px;
    text-align: left;
  }
}
@media all and (max-width: 576px) {
  body .wrap .personal .slogan {
    font-size: 21px;
  }
}
@media all and (max-width: 420px) {
  body .wrap .personal .slogan {
    font-size: 19px;
  }
}
@media all and (max-width: 375px) {
  body .wrap .personal .slogan {
    font-size: 18px;
  }
}
body .wrap .personal .personal_info {
  padding: 0;
  margin: 0;
  width: 600px;
  text-align: right;
  font-size: 20px;
  font-weight: 700;
  font-family: "Noto Serif SC", serif;
  color: #FFCA9D;
  cursor: pointer;
  word-wrap: break-word;
}
@media all and (max-width: 1600px) {
  body .wrap .personal .personal_info {
    font-size: 18px;
  }
}
@media all and (max-width: 1240px) {
  body .wrap .personal .personal_info {
    font-size: 15px;
  }
}
@media all and (max-width: 768px) {
  body .wrap .personal .personal_info {
    width: 100%;
    text-align: left;
  }
}
@media all and (max-width: 420px) {
  body .wrap .personal .personal_info {
    font-size: 13px;
  }
}
body .wrap .personal .personal_info::after {
  position: relative;
  content: "▼";
  right: 0px;
  width: 20px;
  height: 20px;
  animation: triangle 1s infinite ease;
}
body .wrap .buttons {
  position: absolute;
  bottom: 23vh;
  left: 200px;
  display: flex;
  justify-content: center;
  filter: drop-shadow(0 7px 10px #351F0F);
}
@media all and (max-width: 1600px) {
  body .wrap .buttons {
    left: 150px;
  }
}
@media all and (max-width: 1440px) {
  body .wrap .buttons {
    left: 120px;
  }
}
@media all and (max-width: 768px) {
  body .wrap .buttons {
    bottom: 50vh;
    left: 50%;
    transform: translateX(-50%) translateY(150%);
  }
}
body .wrap .buttons div {
  width: 100px;
  height: 100px;
  margin: 0 2px;
  cursor: pointer;
  transition: 0.2s;
}
@media all and (max-width: 1600px) {
  body .wrap .buttons div {
    width: 80px;
    height: 80px;
  }
}
@media all and (max-width: 1240px) {
  body .wrap .buttons div {
    width: 70px;
    height: 70px;
  }
}
@media all and (max-width: 768px) {
  body .wrap .buttons div {
    width: 60px;
    height: 60px;
  }
}
body .wrap .buttons div a {
  position: absolute;
  width: 100px;
  height: 100%;
}
@media all and (max-width: 1600px) {
  body .wrap .buttons div a {
    width: 80px;
  }
}
@media all and (max-width: 1240px) {
  body .wrap .buttons div a {
    width: 70px;
  }
}
body .wrap .buttons div:hover {
  transform: translateY(-5%);
}
body .wrap .buttons .YT {
  background: url(../img/img/YT.webp) no-repeat center/contain;
}
body .wrap .buttons .YT:hover {
  background-image: url(../img/img/YT_h.webp);
}
body .wrap .buttons .twitter {
  background: url(../img/img/X.webp) no-repeat center/contain;
}
body .wrap .buttons .twitter:hover {
  background-image: url(../img/img/X_h.webp);
}
body .wrap .buttons .TW {
  background: url(../img/img/TW.webp) no-repeat center/contain;
  display: none;
}
body .wrap .buttons .TW:hover {
  background-image: url(../img/img/TW_h.webp);
}
body .wrap .buttons .DC {
  background: url(../img/img/DC.webp) no-repeat center/contain;
  display: none;
}
body .wrap .buttons .DC:hover {
  background-image: url(../img/img/DC_h.webp);
}
body .wrap .lock {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}
body .wrap .lock::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 10vw;
  height: 100%;
  background: url(../img/img/lock.webp) no-repeat center/contain;
}
@media all and (max-width: 1600px) {
  body .wrap .lock::after {
    width: 13vw;
  }
}
@media all and (max-width: 960px) {
  body .wrap .lock::after {
    width: 18vw;
  }
}
@media all and (max-width: 768px) {
  body .wrap .lock::after {
    width: 30vw;
  }
}
body .wrap .p_btns_m {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25vw;
  background: url(../img/img/menuM.webp) no-repeat center bottom/contain;
  display: none;
  justify-content: space-evenly;
  align-items: end;
  z-index: 9;
}
@media all and (max-width: 768px) {
  body .wrap .p_btns_m {
    display: flex;
  }
}
body .wrap .p_btns_m div {
  margin-bottom: 6%;
  width: 15%;
  height: 15vw;
  background: url(../img/img/pM_M.webp) no-repeat center/contain;
  filter: drop-shadow(0 7px 10px #351F0F);
}
body .wrap .p_btns_m .page_fish_m {
  margin-bottom: 3%;
  background-image: url(../img/img/pF_m.webp);
}
body .wrap .p_btns_m .page_index_m {
  width: 28%;
  margin-bottom: 0px;
  background: url(../img/img/index_m.webp) no-repeat center top/cover;
}
body .wrap .p_btns_m .page_ceresa_m {
  margin-bottom: 3%;
  background-image: url(../img/img/pC_m.webp);
}
body .wrap .p_btns_m .page_fox_m {
  margin-bottom: 6%;
  background-image: url(../img/img/pFox_m.webp);
}
body .transform {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  filter: drop-shadow(0 7px 10px #351F0F);
  z-index: 8;
  pointer-events: none;
}
body .transform div {
  position: absolute;
  width: 15%;
  height: 100%;
  background: url(../img/img/screen.webp) no-repeat left/cover;
  transition: 0.8s;
}
body .transform .screenL {
  left: 0;
  transform: translateX(-50%);
}
@media all and (max-width: 768px) {
  body .transform .screenL {
    transform: none;
    width: 0%;
  }
}
body .transform .screenR {
  right: 0;
  transform: translateX(50%);
}
@media all and (max-width: 768px) {
  body .transform .screenR {
    display: none;
  }
}
body .pop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 23, 15, 0.7);
  z-index: 99;
  display: none;
}
@media all and (max-width: 960px) {
  body .pop {
    background-color: rgba(28, 23, 15, 0.9);
  }
}
body .pop .pop_frame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 50%;
  height: 60%;
  background-color: rgba(0, 0, 0, 0.7);
  border: #FFCA9D 2px solid;
  border-radius: 20px;
  padding: 40px 60px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media all and (max-width: 1440px) {
  body .pop .pop_frame {
    width: 70%;
    height: 70%;
  }
}
@media all and (max-width: 960px) {
  body .pop .pop_frame {
    border: none;
    background: none;
    width: 80%;
    height: 80%;
    padding: 40px 0px;
  }
}
@media all and (max-width: 768px) {
  body .pop .pop_frame {
    width: 90%;
    height: 90%;
  }
}
body .pop .pop_frame .corner {
  pointer-events: none;
}
@media all and (max-width: 960px) {
  body .pop .pop_frame .corner {
    display: none;
  }
}
body .pop .pop_frame .corner div {
  position: absolute;
  width: 70px;
  height: 70px;
  background: url(../img/img/pop_corner.webp) no-repeat center/contain;
}
@media all and (max-width: 1240px) {
  body .pop .pop_frame .corner div {
    width: 60px;
    height: 60px;
  }
}
body .pop .pop_frame .corner div:nth-child(1) {
  top: -30px;
  left: -30px;
  transform: scaleX(-1);
}
body .pop .pop_frame .corner div:nth-child(2) {
  top: -30px;
  right: -30px;
}
body .pop .pop_frame .corner div:nth-child(3) {
  bottom: -30px;
  left: -30px;
  transform: scale(-1);
}
body .pop .pop_frame .corner div:nth-child(4) {
  bottom: -30px;
  right: -30px;
  transform: scaleY(-1);
}
body .pop .pop_frame .pop_title {
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  font-family: "Noto Serif SC", serif;
  color: #FFCA9D;
  letter-spacing: 3px;
  margin: 0px;
}
@media all and (max-width: 1600px) {
  body .pop .pop_frame .pop_title {
    font-size: 35px;
  }
}
@media all and (max-width: 1240px) {
  body .pop .pop_frame .pop_title {
    font-size: 30px;
  }
}
body .pop .pop_frame .pop_line {
  margin: 20px 0;
  width: 100%;
  min-height: 12px;
  background: url(../img/img/popLine.webp) no-repeat center/contain;
}
body .pop .pop_frame .pop_text {
  width: 100%;
  text-align: left;
  font-size: 20px;
  font-weight: 900;
  font-family: "Noto Serif SC", serif;
  color: #FFCA9D;
  letter-spacing: 3px;
  margin: 0px;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: scroll;
  -webkit-mask: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, #fff 5%, rgb(255, 255, 255) 95%, rgba(255, 255, 255, 0) 100%);
          mask: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, #fff 5%, rgb(255, 255, 255) 95%, rgba(255, 255, 255, 0) 100%);
}
@media all and (max-width: 1600px) {
  body .pop .pop_frame .pop_text {
    font-size: 18px;
  }
}
@media all and (max-width: 1240px) {
  body .pop .pop_frame .pop_text {
    font-size: 15px;
  }
}
body .pop .pop_frame .pop_text::-webkit-scrollbar {
  width: 5px;
}
body .pop .pop_frame .pop_text::-webkit-scrollbar-button {
  background: transparent;
}
body .pop .pop_frame .pop_text::-webkit-scrollbar-track-piece {
  background: transparent;
}
body .pop .pop_frame .pop_text::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #FFCA9D;
}
body .pop .pop_frame .pop_text::-webkit-scrollbar-track {
  box-shadow: transparent;
}
body .pop .xx {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 40px;
  height: 40px;
  transform: rotate(45deg);
  cursor: pointer;
  transition: 0.3s;
}
body .pop .xx::before, body .pop .xx::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 3px;
  height: 100%;
  background-color: #FFCA9D;
}
body .pop .xx::after {
  width: 100%;
  height: 3px;
}
body .pop .xx:hover {
  transform: rotate(-45deg);
}

footer {
  position: absolute;
  margin-top: -1px;
  width: 100%;
  z-index: -1;
}
footer .footerBG {
  width: calc(60% + 4px);
  height: 564px;
  margin: auto;
  background: url(../img/img/footerBG.webp) no-repeat;
  background-size: 60vw 100%;
  filter: drop-shadow(0 0 50px rgba(0, 0, 0, 0.5));
}
@media all and (max-width: 1024px) {
  footer .footerBG {
    width: calc(70% + 4px);
    background-size: 70vw 100%;
  }
}
@media all and (max-width: 960px) {
  footer .footerBG {
    width: calc(75% + 4px);
    background-size: 75vw 100%;
  }
}
@media all and (max-width: 768px) {
  footer .footerBG {
    width: calc(80% + 4px);
    background-size: 80vw 100%;
  }
}
footer .footerBG .copyright {
  margin: 0;
  padding-top: 160px;
  text-align: center;
  font-size: 20px;
  color: #603813;
}/*# sourceMappingURL=style.css.map */